<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wallo.asset.mapper.AnnualSalaryMapper">

    <update id="updateAnnualSalary">
        UPDATE USERS
        SET annual_salary = #{annualSalary},
            updated_at = CURRENT_TIMESTAMP
        WHERE id = #{userId}
    </update>

</mapper>
