<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wallo.asset.mapper.InstitutionMapper">

    <resultMap id="institutionResultMap" type="com.wallo.asset.domain.Institution">
        <id property="institutionId" column="institution_id" />
        <result property="codefOrganizationCode" column="codef_organization_code" />
        <result property="name" column="name" />
        <result property="financialGroupCode" column="financial_group_code" />
        <result property="financialGroupName" column="financial_group_name" />
        <result property="institutionType" column="type" />
        <result property="logoUrl" column="logo_url" />
        <result property="services" column="services" />
    </resultMap>

    <select id="findActiveInstitutions" resultMap="institutionResultMap">
        SELECT
            institution_id,
            codef_organization_code,
            type,
            name,
            financial_group_code,
            financial_group_name,
            logo_url,
            services
        FROM INSTITUTIONS
        WHERE is_active = TRUE
        ORDER BY display_order, institution_id
    </select>
</mapper>
